@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  @keyframes custom-bounce {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  .animate-custom-bounce {

    animation: 0.8s ease 0s infinite alternate none running custom-bounce;
  }
}
 
